.hero {
  width: 100%;
  background: $bg-py;
  position: relative;
  padding-bottom: 50px;
  .hero__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .hero__text {
      margin-top: 200px;
      display: flex;
      max-width: 565px;
      justify-content: center;
      flex-direction: column;

      b {
        font-size: 92px;
        color: rgb(16, 49, 82);
      }
      strong {
        font-size: 32px;
        color: rgb(16, 49, 82);
      }
      p {
        color: rgb(16, 49, 82);
        font-size: 20px;
        margin: 40px 0;
      }
      button {
        max-width: 260px;
        height: 50px;
        border-radius: 30px;
        border: none;
        background: goldenrod;
        color: rgb(16, 49, 82);
        &:hover {
          transform: scale(1.1);
          background: rebeccapurple;
          color: aliceblue;
        }
      }
    }
    .hero__img {
      margin-top: 200px;
    }
  }
}
@media (max-width: 915px) {
  .hero {
    .hero__wrapper {
      padding-top: 200px;
      .hero__text {
        margin: auto;
        b {
          font-size: 40px;
        }
        strong {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      .hero__img {
        margin: auto;
        margin-top: 35px;
      }
    }
  }
}
@media (max-width: 800px) {
  .hero {
    .hero__wrapper {
      padding-top: 200px;
      .hero__text {
        margin: auto;
        b {
          font-size: 40px;
        }
        strong {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      .hero__img {
        margin: auto;
        margin-top: 35px;
      }
    }
  }
}
